/* header */
.header {
  width: 100%;
  po
  background-color: #fff;
}
/* hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: bisque;
}
.hero-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  transform: translateY(-50px);
}
.hero-right {
  background-image: url(/img/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: bisque;
}
.about-left {
  background-image: url(/img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  transform: translateY(-50px);
}
/* service */
.service {
  background-color: blue;
}
/* feature */
.feature {
  background-color: blueviolet;
}
/* contact */
.contact {
  background-color: aqua;
}
/* cta */
.cta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 10vh;
  align-items: center;
  background-color: red;
  color: #fff;
}
.cta span {
  padding: 20px;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: 1 ease-in;
}
.cta span:hover {
  height: 100%;
}
/* footer */
.footer {
  width: 100%;
  height: 50vh;
  background-color: black;
}
