body {
  height: 100vh;
  width: 100%;
  background-color: rgb(212, 208, 208);
  padding: 25px;
  overflow: hidden;
}
.h1 {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  color: red;
  font-size: 50px;
}
